/node_modules
**/oh-package-lock.json5
/oh_modules
**/node_modules
**/oh_modules
/local.properties
**/build
/.hvigor
.cxx
**/.cxx
**/.preview
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
.DS_store
/signing
/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
proxy_core/src/flclash/libflclash.so
proxy_core/libs/arm64-v8a/libflclash.so
proxy_core/libs/arm64-v8a/libflclash.so.build.json
/key
/.env
/.env.*
/.codex
/.agents
/.DS_Store
run.sh
internalTesting
profiler
/build-profile.json5
*.hap
*.p12
*.p7b
*.cer
*.csr
*.pem
*.key
*.keystore
*.jks
*.log
*.pcap
*.pcapng
*.har
/proxy_core/src/flclash/.hvigor/
